<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./sidebar.css" />
    <script src="./sidebar.js" defer></script>
    <link rel="icon" href="./assets/sidelogo.png" />
    <title>Sidebar</title>
  </head>
  <body>
    <div class="wrapper">
      <aside class="sidebar" isopen="true">
        <div class="header">
          <img src="./assets/sidelogo.png" alt="logo" loading="lazy" />
          <span>Sidebar</span>
        </div>
        <div class="navigation-section">
          <ul>
            <li><a>Home</a></li>
            <li><a>Products</a></li>
            <li><a>Deals</a></li>
            <li><a>Gallery</a></li>
            <li><a>About</a></li>
          </ul>
        </div>
      </aside>
      <div class="main-section">
        <div class="navbar">
          <div class="hamburger-menu" id="hamburger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
          <div>end</div>
        </div>
      </div>
    </div>
  </body>
</html>
